.task-item-container {
  display: flex;
  justify-content: space-between;
  width: 400px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #f2f2f2;
}

.text-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin-right: 0.5rem;
}

.text {
  color: #21325e;
  text-decoration: none;
  transition: text-decoration 1s;
}

.text-completed {
  text-decoration: line-through;
}

.button-container {
  display: flex;
  width: 20%;
}
